<div class='content-addMovie'>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">  
                    <h2>Добави кино</h2>
                </div>
            </div>
            <div class='container-fluid addMovie'>
                <form id="contact-form" class="form" name="form" ng-submit="addCinema($event)" action='' method="POST" novalidate>
                    <div class="row">
                            <md-input-container flex="50">
                        <div class="form-group">
                            <label class="form-label" for="name">Име *</label>
                            <input type="text" class="form-control" ng-model="cinema.name" id="name" name="name" placeholder="Въведете име" tabindex="1" required>
                            <div ng-messages="form.name.$error" ng-show="form.name.$invalid && form.name.$touched">
                                <ng-message when="required">Това поле е задължително</ng-message>
                            </div>
                        </div>
                    </md-input-container>               
                        <div class="form-group">
                            <label class="form-label" for="address"> Адрес *</label>
                            <input type="text" class="form-control" id='address' ng-model="cinema.address"  name="address" placeholder="Въведете адрес" tabindex="2" ng-required="true" >
                            <div ng-messages="form.address.$error"  ng-show="form.address.$touched && form.address.$invalid">
                                <div ng-message="required">Това поле е задължително</div>
                            </div>
                        </div>
                        <div ng-if="spaces.length"> 
                            <div class="card-add col-xs-6" ng-repeat="zala in spaces track by $index"  >
                                <div class="card-body">
                                    <h5 class="card-add-title"  ng-model="zala.zalaID">Зала {{$index+1}}</h5>
                                    <p class="card-add-subtitle mb-2 text-muted" ng-model="zala.space.length" value={{space.length}}> {{ zala.space.length }} реда </h4>
                                    <p class="card-add-text" ng-model="capacity" value={{zala.capacity}} >Брой места {{ zala.capacity}}</p>
                                    <a class="btn btn-remove" value="{{ $index }}" ng-click="removeZala()">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="bs-example">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default add-cinema">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Добави зала</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div ng-form="myForm" >
                                                <div class="form-group">
                                                    <label class="form-label" for='rows'> Редове </label>
                                                    <input type='number' class='form-control' id='rows' name='rows' ng-model='numRows'required min='1' max='20' placeholder="Въведете редове"> 
                                                    <div ng-messages="myForm.rows.$error" ng-show="myForm.rows.$touched && myForm.rows.$invalid">
                                                        <div ng-message="required">Това поле е задължително</div>
                                                        <div ng-message="min">Редовете трябва да са поне 1</div>
                                                        <div ng-message="max">Редовете трябва да са не повече от 20</div>
                                                    </div>
                                                </div>
                                                <div class='form-group'ng-repeat="row in rows track by $index">
                                                    <label class='form-label' for='seats'> Ред {{ $index+1 }}  Места</label>
                                                    <input type='number' class='form-control' ng-model="rows[$index]"  id='seats' name='seats' placeholder="Въведете места" min='1' max='20' required>
                                                    <div ng-messages="myForm.seats.$error" ng-show="myForm.seats.$touched && myForm.seats.$invalid">
                                                        <div ng-message="required">Това поле е задължително</div>
                                                        <div ng-message="min">Редовете трябва да са поне 1</div>
                                                        <div ng-message="max">Редовете трябва да са не повече от 20</div>
                                                    </div>
                                                </div>
                                                <div class='' style="display:none;">
                                                    <input type="submit"   />
                                                </div>
                                                <div class="text-center">
                                                    <input type='button' class='btn btn-add' ng-click="addZala(myForm.$invalid)" value="Добави">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>               
                    </div>
                        <div class="text-center">
                            <button class="btn btn-add" ng-disabled="disabled" >Запази</button>
                        </div>
                    </div>
                </form>            
            </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Всички полета отбелязани със * са задължителни. Моля, попълнете данните коректно.
        </small>
    </div>
    <script>
        $(document).ready(function(){
            // Add minus icon for collapse element which is open by default
            $(".collapse.in").each(function(){
                $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });
            
            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function(){
                $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function(){
                $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });
        });
    </script>
    
    
    
    