<div class='content'>
  <div class='cinema'>
    <div class='add-movie'>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <a href='/admin/cinema/add'>Добави кино</a>
    </div>
    <div class="row" ng-repeat="cinema in cinemas track by $index" >
      <div class="col-md-12 projection-view">
        <div class="panel panel-first">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-3"><i class="fa fa-desktop fa-5x"></i></div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{cinema.name}}</div>
                <div>{{cinema.address}}</div>
                <div>Зали {{cinema.zali.length}}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <a data-target="#my-collapse-element{{$index}}" data-toggle="collapse" class='panel-href' data-parent="#accordion" >
              <span class="pull-left">Детайли</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            <div class=" col-md-12 panel-collapse collapse" id='my-collapse-element{{$index}}'>
                <div class="container projects"style="margin-top:20px" ng-if="cinemas[$index].zali.length">
                    <div class="projects-inner">
                      <header class="projects-header">
                        <div class="title">Зали в {{ cinema.name }}</div>
                        <a class="zala-add" title="Добави зала" href='/admin/cinema/{{cinema.kinoID}}/add/zala'>
                          <span class="glyphicon glyphicon-plus"></span>
                        </a>
                      </header>
                      <table class="projects-table">
                      <thead>
                        <tr>
                          <th>Зала</th>
                          <th>Реда</th>
                          <th colspan='2'>Места</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="zala in cinema.zali ">
                          <td>
                            <p>Зала {{ zala.zalaID }}</p>
                          </td>
                          <td>
                            <p>{{ zala.space.length}}</p>
                            <!-- <p class="danger-text">Overdue</p> -->
                          </td>
                          <td class="member">
                            <div class="member-info">
                              <p>{{ zala.capacity }}</p>
                            </div>
                          </td>
                          <td class="buttonView"><a title="Редактирай" href="/admin/cinema/edit/{{cinema.kinoID}}/{{zala.zalaID}}"class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-edit"></i></a>
                            <a title="Изтрий" class="btn btn-sm btn-danger" mwl-confirm  title ="{{vm.titleBox}}" message="{{vm.message}}"
                                on-confirm ="vm.onConfirm(zala, cinema.kinoID)" confirm-text = '{{vm.confirmText}}' cancel-text = "{{vm.cancelText}}"> 
                                <i class="glyphicon glyphicon-trash"></i></a>
                          </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                  </div> 
                  <div class="delete-cinema-btn">
                      <a class="zala-add btn btn-danger" ng-if="cinemas[$index].zali.length < 1" title="Добави зала" href='/admin/cinema/{{cinema.kinoID}}/add/zala'>
                        <span class="glyphicon glyphicon-plus"></span>
                      </a>
                  </div> 
                  <div class="delete-cinema-btn">
                    <a class="btn btn-danger"  mwl-confirm  title ="{{cm.titleBox}}" message="{{cm.message}}"
                    on-confirm ="cm.onConfirm(cinema.kinoID)" confirm-text = '{{cm.confirmText}}' cancel-text = "{{cm.cancelText}}">Изтрий</a>
                  </div>
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
