<div class="content-projection" >
    <div class="fond">
        <span class="s1"> {{ projection.movie.name}}</span>
        <h4 class="projection-h4">Кино {{ projection.cinema.name }} | Зала {{ projection.projection.zalaID }} | {{ projection.projection.time  * 1000 | date:'dd MMMM yyyy | HH:mm' }}</h4>
    </div>
    <div class="cardDetails row">
        <div class="thumbnail col col-sm-12 col-md-4 col-lg-4"><img class="left" src="/images/movies/{{ projection.movie.image }}"/></div>
        <div class="right-projection col col-sm-12 col-md-8 col-lg-8">
            <!-- <div class="row-seat">
                <div class='seat-map'>
                    <table>
                    <tr class="seats" ng-repeat="row in projection.projection.mesta track by $index">
                        <td class='seat' ng-repeat='seat in row track by $index' >
                        <img class='img-table' src='/images/seat.gif'>
                        <span class='text-table'>{{$index+1}}</span>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>    -->
            <div class="movie-seat-map col col-sm-12 col-md-10 col-lg-10">
                <p class='legend'>Заети места: <span class='color-grey'></span>&nbsp; Свободни места: <span class='color-red'></span></p>
                    <!-- <h1 class="choose-seat-title">Избор на място:</h1> -->
                 <div class="row-seat">
                     <div class='seat-map'>
                         <table>
                         <thead>
                             <th class="screen-seat-map">екран</th>
                         </thead>
                         <tbody>
                             <tr class="seats" ng-repeat="row in projection.projection.mesta track by $index">
                                 <td class='seat' ng-repeat='seat in row track by $index' >
                                 <label class="btn-reservation">
                                     <input  ng-disabled="seat === 1" type="checkbox" ng-click="checkSelected($parent.$index,$index)" ng-model="reserveSeat">
                                     <!-- <img class='img-table' src='/images/seat.gif'> -->
                                     <span class="img-table"></span>
                                 </label>
                                 </td>
                             </tr>
                         </tbody>
                         
                         </table>
                     </div>
                 </div>
        <div class="premier-date col-md-12 col-lg-12 col-sm-12">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>            
                    <tr class='head-table'>
                        <th st-sort="time">Информация </th>                   
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="projection in filteredProjections | itemsPerPage: pageSize | orderBy: 'time' track by $index " current-page="currentPage">
                        <td>
                            <h5> Дата/час {{projection.projection.time  * 1000 | date:'dd MMMM yyyy | HH:mm' }}</h5>
                            <span>{{ projection.projection.mesta }}</span>
                        </td>
                        <td>{{ projection.movieName }}</td>
                        <td>{{ types.availableOptions[projection.type - 1].name }}</td>
                        <td class="buttonView"><a href="/admin/projections/{{projection._id}}"class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-eye-open"></i></a>
                            <a  class="btn btn-sm btn-danger" mwl-confirm  title ="{{vm.titleBox}}" message="{{vm.message}}"
                                on-confirm ="vm.onConfirm(projection)" confirm-text = '{{vm.confirmText}}' cancel-text = "{{vm.cancelText}}"> 
                                <i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
    </div>

</div>