<div class="content-projection" >
    <div class="fond">
        <span class="s1"> {{ projection.movie.name}}</span>
        <h4 class="projection-h4">Кино {{ projection.cinema.name }} | Зала {{ projection.projection.zalaID }} | {{ projection.projection.time  * 1000 | date:'dd MMMM yyyy | HH:mm' }}</h4>
    </div>
    <div class="cardDetails">
        <div class="thumbnail"><img class="left" src="{{ projection.movie.image }}"/></div>
        <div class="right-projection">
        <h1 class="projection-h1">  </h1>
            <div class="row-seat">
                <div class='seat-map'>
                    <table>
                    <tr class="seats" ng-repeat="row in projection.cinema.zali | filter : {zalaID : projection.projection.zalaID} track by $index">
                        <td class='seat' ng-repeat='i in getNumber(row.space) track by $index' >
                        <img class='img-table' src='/images/seat.gif'>
                        <span class='text-table'>{{$index+1}}</span>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>   
        <div class="premier-date">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>            
                    <tr class='head-table'>
                        <th st-sort="time">Информация </th>                
                        <th st-sort="type">Филм</th>
                        <th>Тип</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="projection in filteredProjections | itemsPerPage: pageSize | orderBy: 'time' track by $index " current-page="currentPage">
                        <td>
                            <h5> Дата/час {{projection.projection.time  * 1000 | date:'dd MMMM yyyy | HH:mm' }}</h5>
                            <span>{{ projection.projection.mesta }}</span>
                        </td>
                        <td>{{ projection.movieName }}</td>
                        <td>{{ types.availableOptions[projection.type - 1].name }}</td>
                        <td class="buttonView"><a href="/admin/projections/{{projection._id}}"class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-eye-open"></i></a>
                            <a  class="btn btn-sm btn-danger" mwl-confirm  title ="{{vm.titleBox}}" message="{{vm.message}}"
                                on-confirm ="vm.onConfirm(projection)" confirm-text = '{{vm.confirmText}}' cancel-text = "{{vm.cancelText}}"> 
                                <i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
    </div>

</div>