<div class="content-projection">
    <div class="fond"> <h4 class="projection-h4">Кино {{ projectionCinema.name }}</h4><span class="s1"> {{ movie.name}} </span>
    <div class="cardDetails">
        <div class="thumbnail"><img class="left" src="{{ movie.image }}"/></div>
        <div class="right-projection">
        <h1 class="projection-h1">  Зала {{ projectionDetails.zalaID }} {{ projectionDetails.time }}</h1>
        <div class="author"><img src="{{ movie.director.img }}"/>
            <h2 class="projection-h2">{{ movie.director.name }}</h2>
        </div>
        <div class="separator"></div>
        <p class="projection-p">{{ movie.description }}</p>
        </div>
        <div class="row-seat">
                <div class='seat-map'>
                    <table>
                    <tr class="seats" ng-repeat="row in projectionCinema.zali[0].space track by $index">
                        <td class='seat' ng-repeat='i in getNumber(row) track by $index' >
                        <img class='img-table' src='/images/seat.gif'>
                        <span class='text-table'>{{$index+1}}</span>
                        </td>
                    </tr>
                    </table>
            </div>
        <div class="premier-date">
            <h5 class="projection-h5">Цена</h5>
            <h6 class="projection-h6">{{ prices[projectionDetails.type - 1]}}лв.</h6>
        </div>
      
    </div>

</div>