<div class="content">
    <div class='add-movie'>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <a href='#!/projections/add'>Добави прожекция</a>
    </div>
    <table st-table="displayedCollection" ng-repeat="cinema in cinemas" st-safe-src="rowCollection" class="table table-striped">
        <thead>
            <th class="cinema-title" st-sort="kinoID">Kино {{ cinema.name }}</th>
            <tr class='head-table'>
                <th st-sort="zalaID">Зала</th>
                <th st-sort="movieID">Филм</th>
                <th st-sort="startDate">Начална дата</th>
                <th st-sort="endDate">Крайна дата</th>
                <th st-srot="status"> Статус</th>
            </tr>
            <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="Търсене..." type="text"/></th>
            </tr>
        </thead>
        <tbody>
<!-- CHANGED -->
			<tr ng-repeat="(key, value) in projections | filter : { kinoID : cinema.kinoID}">
				<td>{{value.zalaID}}</td>
				<td>{{value.movieID}}</td>
                <td>{{value.startDate}}</td>
                <td>{{value.endDate}}</td>
                <td>{{value.status}}</td>
				<td>
				<button type="button" ng-click="removeItem(value)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
			</tr>
			</tbody>
		</table>
</div>