<div class="container-book">
    <div class="row">
        <div class="info-card-movie col col-sm-12 col-md-12 col-lg-12">
            <div class="background-header">
                <img class="background-header-image" src="/images/movies/{{bookingDetails.movie[0].largeImage}}">
                <div class="row">
                    <div class="col col-sm-6 col-md-5 col-lg-5 movie-details-header">
                        <div class="bg-img-movie">
                            <img src="/images/movies/{{bookingDetails.movie[0].image}}" align="right"alt="" />
                        </div>
                    </div>
                    <div class="col col-sm-6 col-md-7 col-lg-7 movie-details-header">
                        <h1 class="header-booking">Разервация</h1>
                        <h2 class="heading-movie">{{ bookingDetails.cinema[0].name }} </h2>
                        <h2 class="heading-movie">{{bookingDetails.movie[0].name }}</h2>
                        <h2 class="heading-movie">{{movieTypes[bookingDetails.projection.type]}}<h2>                        
                        <p class="booking-date">Дата {{ bookingDetails.projection.time * 1000 | date : 'dd MMMM' }} Час {{ bookingDetails.projection.time * 1000 | date: 'HH:mm' }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row reservation">
        <p>Изберете свободни места и кликнете върху тях, за да ги маркирате. Екранът показва посоката на гледане. Отстоянието на седалките от екрана не представлява действителното разположение в залата.
        <br> Свободни места: <span class='color-blue'></span> Заети места: <span class='color-black'></span></p>
        <div class="movie-seat-map col col-sm-12 col-md-5 col-lg-5">
            <!-- <h1 class="choose-seat-title">Избор на място:</h1> -->
            <div class="row-seat">
                <div class='seat-map'>
                    <table>
                    <thead>
                        <th class="screen-seat-map">екран</th>
                    </thead>
                    <tbody>
                        <tr class="seats" ng-repeat="row in bookingDetails.projection.mesta track by $index">
                            <td class='seat' ng-repeat='seat in row track by $index' >
                            <label class="btn-reservation">
                                <input type="checkbox" ng-click="checkSelected($parent.$index,$index)" ng-model="reserveSeat[$parent.$index][$index]">
                                <img class='img-table' src='/images/seat.gif'>
                            </label>
                            </td>
                        </tr>
                    </tbody>
                    
                    </table>
                </div>
            </div>
        </div>   
        <div class="booking col col-sm-12 col-md-6 col-lg-6">
            <hr class="red-line">
            <div class="note">
                <p>За филми в 3D формат са ви необходими 3D очила, които се купуват отделно от билета в кината на цена 2 лв./бр.</p>
                <p>Цената не включва RealD 3D и IMAX 3D очила.</p>
            </div>
            <div class="total">
                <div class="total-ttl">
                    <p>Общо: </p>
                </div>
                <div class="value">
                    <p>{{ totalPrice | currency:''}} лв</p>
                </div>
            </div>
            <div class="button btn forward-btn btn-reservation">
                <a href="/booking-ticket/{{bookingDetails.projection._id}}/oreder-final"><span class="fwrd-txt text-reservation">Резервирай</span></a>
            </div>       
        </div>
    </div>
</div>

