<header class='main-nav'>
  <ul>
    <li>
      <a href='/admin'>
        <i class='fa fa-tachometer'></i>
        <span>Панел</span>
      </a> 
    </li>
    <li>
      <a href='/admin/projections'>
      <i class='fa fa-video-camera'></i>
      <span>Прожекции</span>
      </a>
    </li>
    <li class='menu'>
      <i class='fa fa-bars'></i>
      <div >
        <span>Меню</span>
        <div class='dropdown'>
         <a href='/admin/cinema'><i class='fa fa-desktop'>Кина</i></a>
         <a href='/admin/movies'><i class='fa fa-film'>Филми</i></a>
        </div>
      </div>
    </li>
    <li>
      <i class='fa fa-users'></i>
      <span>Потребители</span>
    </li>
    <li>
      <i class='fa fa-sliders'></i>
      <span>Настройки</span>
    </li>
    <li>
      <i class='fa fa-sign-out'></i>
      <span>Изход</span>
    </li>
  </ul>
</header>
<div class='content-addMovie'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">  
                <h2>Добави кино</h2>
            </div>
        </div>
        <div class='container-fluid addMovie'>
            <form id="contact-form" class="form" action='' method="POST" role="form">
                <div class="row">
                    {{!-- <div class="col-sm-6 col-md-6 left"> --}}
                    <div class="form-group">
                        <label class="form-label" for="name">Име *</label>
                        <input type="text" class="form-control" value='{{ name }}' id="name" name="name" placeholder="Въведете име на филм" tabindex="1" required>
                    </div>               
                    <div class="form-group">
                        <label class="form-label" for="address"> Адрес *</label>
                        <input type="text" class="form-control" id='address' value='{{ address }}' name="address" placeholder="Въведете адрес" tabindex="2" required >
                    </div>
                    <div class="bs-example">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default add-cinema">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Добави зала</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form class='form' action='' method="POST" role='form'>
                                            <div class="form-group">
                                                <label class="form-label" for='rows'> Редове </label>
                                                <input type='number' class='form-control' id='rows' name='space' min='1' max='20' placeholder="Въведете редове"> 
                                            </div>
                                            <div class='form-group'>
                                                <label class='form-label' for='seats'> Места</label>
                                                <input type='number' class='form-control' id='seats' name='seats' placeholder="Въведете места" min='1' max='20'>
                                            </div>
                                            <div class='' style="display:none;">
                                                <input type="submit"   />
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-start-order">Добави</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>               
                {{!-- </div>  --}}
                    <div class="text-center">
                        <button type="submit" class="btn btn-start-order">Запази</button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted">
        Всички полета отбелязани със * са задължителни. Моля, попълнете данните коректно.
    </small>
</div>
<script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function(){
        	$(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });
        
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>



