{{!-- HEADER ALL PAGES --}}
<header class='main-nav'>
  <ul>
    <li>
      <a href='/admin'>
        <i class='fa fa-tachometer'></i>
        <span>Панел</span>
      </a> 
    </li>
    <li>
      <i class='fa fa-video-camera'></i>
      <span>Прожекции</span>
    </li>
    <li class='menu'>
      <i class='fa fa-bars'></i>
      <div >
        <span>Меню</span>
        <div class='dropdown'>
         <a href='/admin/cinema'><i class='fa fa-desktop'>Кина</i></a>
         <a href='/admin/movies'><i class='fa fa-film'>Филми</i></a>
        </div>
      </div>
    </li>
    <li>
      <i class='fa fa-users'></i>
      <span>Потребители</span>
    </li>
    <li>
      <i class='fa fa-sliders'></i>
      <span>Настройки</span>
    </li>
    <li>
      <i class='fa fa-sign-out'></i>
      <span>Изход</span>
    </li>
  </ul>
</header>
<div class='content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
                <h2>Добави филм</h2>
            </div>
        </div>
        <div class='container-fluid addMovie'>
            <form id="contact-form" class="form" action="#" method="POST" role="form">
                <div class="row">
                    <div class="col-sm-6 col-md-6 left">
                        <div class="form-group">
                            <label class="form-label" for="name">Име *</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Въведете име на филм" tabindex="1" required>
                        </div>               
                        <div class="form-group">
                            <label class="form-label" for="duration">Времетраене *</label>
                            <input type="number" class="form-control" id='duration' name="duration" placeholder="Времетраене в минути" tabindex="2" required min='30' max='220'>
                        </div>
                        <script>
                            $(function () {
                                var sd = new Date(), ed = new Date();
                                
                                $('#datetimepicker1').datetimepicker({
                                    format: "YYYY/MM/DD"
                                })
                            });
                        </script>
                        <div class='container'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label" for="premierDate">Дата на премиера *</label>
                                        <div class='input-group date' id='datetimepicker1' class="datetimepicker">
                                            <input type='text' class="form-control" name="premierDate"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>    
                                </div>
                            </div> 
                        </div>        
                        <div class="form-group">
                            <label class="form-label" for="genre">Жанр *</label>
                            <small id="passwordHelpBlock" style="font-size : 10px"class="form-text text-muted">
                                Задръжте CTRL за Windows и command бутон за Mac, за да изберете повече от един жанр.
                            </small>
                            <select class="custom-select col-xs-12" aria-describedby="passwordHelpBlock" multiple required >
                                <option value="Comedy">Комедия</option>
                                <option value="Action">Екшън</option>
                                <option value="Drama">Драма</option>
                                <option value="Animation">Анимация</option>
                                <option value="Criminal">Криминален</option>
                                <option value="Romantic">Романтичен</option>
                                <option value="Fantasy">Фентъзи</option>
                                <option value="Musical">Музикален</option>
                                <option value="Thriller">Трилър</option>
                                <option value="Bibliographic">Биографичен</option>
                                <option value="Historical">Исторически</option>
                                <option value="Science">Научно-популярен</option>
                                <option value="Technological">Технологичен</option>
                                <option value="Documental">Документален</option>
                            </select>
                        </div>  
                        <hr>
                        <div class="form-group"> <!-- Radio group !-->
                            <label class="form-label" style="padding-top: 40px"> Дублиран *</label>
                            <div class="radio">
                            <label style="margin-right: 10px">
                                <input type="radio" name="dublaj" value="1">
                                 Да
                            </label>
                            <label style="margin-left: 10px">
                                <input type="radio"  name="dublaj" value="0">
                                Не
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-0 col-md-6 col-md-offset-0 right">        
                            <div class="form-group director">
                                <div class='col-xs-6'>
                                    <label class="form-label" for="director">Директор *</label>
                                    <input type="text" class="form-control" id="director" name="director" placeholder="Име на директор" tabindex="1" required>
                                </div>
                                <div class='col-xs-6'>
                                    <label class="form-label" for="exampleFormControlFile1">Снимка на директор *</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </div>
                            <div class="form-group">
                                {{!-- <label class="form-label"><h4>Актьорски състав</h4></label> --}}
                                <label class="form-label" style="padding-top:50px"for="actor1">Актьор 1 *</label>
                                <input type="text" class="form-control" id="actror1" name="actor1" placeholder="Актьор 1" tabindex="1" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="actror2">Актьор 2</label>
                                <input type="text" class="form-control" id="actror2" name="actror2" placeholder="Актьор 2" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="actror3">Актьор 3</label>
                                <input type="text" class="form-control" id="actror3" name="actror3" placeholder="Актьор 3" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="image">Качете постер *</label>
                                <input type="file" class="form-control" id="image" name="image" placeholder="Качете снимка" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="trailer">Линк към трейлър *</label>
                                <input type="text" class="form-control" id="trailer" name="trailer" placeholder="Трейлър" tabindex="1">
                            </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-start-order">Запази</button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted">
        Всички полета отбелязани със * са задължителни. Моля, попълнете данните коректно.
    </small>
</div>