{{!-- HEADER ALL PAGE --}}
<header class='main-nav'>
  <ul>
    <li>
      <i class='fa fa-tachometer'></i>
      <span>Панел</span>
    </li>
    <li>
      <i class='fa fa-video-camera'></i>
      <span>Прожекции</span>
    </li>
    <li class='menu'>
      <i class='fa fa-bars'></i>
      <div >
        <span>Меню</span>
        <div class='dropdown'>
          <i class='fa fa-desktop'><a href='/admin/cinema'>Кина</a></i>
          <i class='fa fa-film'><a href='#'>Филми</a></i>
        </div>
      </div>
    </li>
    <li>
      <i class='fa fa-users'></i>
      <span>Потребители</span>
    </li>
    <li>
      <i class='fa fa-sliders'></i>
      <span>Настройки</span>
    </li>
    <li>
      <i class='fa fa-sign-out'></i>
      <span>Изход</span>
    </li>
  </ul>
</header>
{{!-- CINEMAS --}}
<div class='content'>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-first">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3"><i class="fa fa-desktop fa-5x"></i></div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{name}}Име</div>
                <div>{{address}}Адрес</div>
              </div>
            </div>
          </div><a href="/admin/cinema/details">
            <div class="panel-footer"><span class="pull-left">Детайли</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div></a>
        </div>
      </div>
    </div>
</div>
