<div ng-controller="CinemaController" class="container-main">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title"> Нашите кина: </div>
        </div>
    </div>    
    <hr class="red-line">
    <div ng-if="cinemas.length" class="row">        
        <div ng-repeat="cinema in cinemas" class="col-md-6">
            <a href="/#!/cinemas/view-cinema/{{ cinema._id }}">
                <div class="tmb-zoom center-block">
                    <div class="img-zoom center-block">
                        <img class="thumbnail-md" ng-src="{{ cinema.image }}">
                    </div>
                    <h3 class="title-sm">{{cinema.name}}</h3>
                    <p class="address">{{cinema.address}}</p>
                </div>                             
            </a>
        </div>
        <!-- <div class="col-sm-6">
            <a href="#!/view-cinema">
                <img class="thumbnail-md" src="/images/cinemas/cinema2.jpg">
                <h3 class="title-sm">ITC World</h3>
                <p>Бургас 8000, ул. „Сердика“ 2</p>
            </a>
        </div> -->
    </div>
</div>