<div ng-controller="CinemaController" class="container-main">
    <div ng-if="cinemas.length" class="row">
        <div> Кина</div>
        <div ng-repeat="cinema in cinemas track by $index" class="col-md-6">
            <a href="#!/view-cinema/{{ cinema.kinoID}}">
                <img class="thumbnail-md" style="background-image: url('{{ cinema.image }}')">
                <h3 class="title-sm">{{cinema.name}}</h3>
                <p>{{cinema.address}}</p>
            </a>
        </div>
        <!-- <div class="col-sm-6">
            <a href="#!/view-cinema">
                <img class="thumbnail-md" src="/images/cinemas/cinema2.jpg">
                <h3 class="title-sm">ITC World</h3>
                <p>Бургас 8000, ул. „Сердика“ 2</p>
            </a>
        </div> -->
    </div>
</div>