<!--Get CHANGE PASSWORD-->
<div ng-controller="UserController" ng-if="$root.user" class="container-main">
        <!--Navbar side vertical menu-->
        <div class="row">
            <div class="col-sm-3">
                <!-- <div ng-include src="'/js/app/controllers/user/profileMenu.html'"></div> -->
                <div class="sidebar-nav">
                    <div class="navbar-default-user" role="navigation">
                        <!-- <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> -->
                        <!-- <span class="visible-xs navbar-brand"></span> -->
                        <!-- </div>-->
                        <div ng-controller="CollapseController" class="profile-menu">
                            <ul class="nav flex-column side-nav-custom">
                                <li ng-class="{ active: isActive('/profile') }" class="nav-item"><a class="nav-link button-nav btn-nav" href="/profile"><span class="img-bkgr"><img class="img-icon" src="/images/icons/user.png"></span><span class="txt">Персонална информация</span></a></li>
                                <li ng-class="{ active: isActive('/profile/change-password') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/change-password"><span class="img-bkgr"><img class="img-icon" src="/images/icons/pass.png"></span><span class="txt">Промяна на парола</span></a></li>
                                <li ng-class="{ active: isActive('/profile/favourites') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/favourites"><span class="img-bkgr"><img class="img-icon" src="/images/icons/heart.png"></span><span class="txt">Моите филми</span></a></li>
                                <li ng-class="{ active: isActive('/profile/newsletter') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/newsletter"><span class="img-bkgr"><img class="img-icon" src="/images/icons/email.png"></span><span class="txt">Абонирай се за нашия е-бюлетин</span></a></li>
                                <li ng-class="{ active: isActive('/profile/orders') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/orders"><span class="img-bkgr"><img class="img-icon" src="/images/icons/history.png"></span><span class="txt">История на резервациите и закупените билети</span></a></li>
                                <li ng-if="userChecked && $root.user" ng-class="{ active: isActive('/logout') }" class="nav-item">
                                    <a ng-click="logout($event)" class="nav-link button-nav btn-nav" href="/logout">
                                        <span class="img-bkgr"><img class="img-icon" src="/images/icons/logout.png"></span>
                                        <span class="txt">Изход</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse-->
                    </div>
                </div>
            </div>
            <!--LEFT SIDE OF USER NAVIGATION-->
            <div class="col-sm-9">
                <div class="container-wrap">
                    <form ng-submit="changePassword($event, form.$invalid)" class="form-user" name="changePassForm" action="" method="POST">
                        <h2>
                            Промяна на парола
                        </h2>
                        <hr class="red-line redline-u">
                        <div ng-show="hasError">
                            <alert ng-repeat="error in errors track by $index" type="danger"  close="closeAlert($index)">{{error}}</alert>
                        </div>
                        <div class="form-group has-error">
                            <label for="oldPass">Стара парола</label>
                            <input ng-model="user.oldPassword" type="password" class="form-control" id="oldPass" name="oldPassword" aria-describedby="oldPassHelp" placeholder="Стара парола" required>
                            <small id="oldPassHelp" class="form-text text-muted"></small>
                            <div class="messages" ng-messages="changePassForm.oldPassword.$error" ng-show="changePassForm.oldPassword.$touched && changePassForm.oldPassword.$invalid">
                                <div ng-message="required">Моля въведете старата парола!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPass">Нова парола</label>
                            <input ng-model="user.newPassword" type="password" class="form-control" id="newPass" name="newPassword" aria-describedby="newPassHelp" placeholder="Нова парола" ng-minlength="6" ng-maxlength="30" required>
                            <small id="newPassHelp" class="form-text text-muted"></small>
                            <div ng-messages="changePassForm.newPassword.$error" ng-show="changePassForm.newPassword.$touched && changePassForm.newPassword.$invalid" class="errorMsg">
                                <div ng-message="required">Моля въведете нова парола от минимум 6 символа!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeatPass">Повторете паролата</label>
                            <input ng-model="user.confirmNewPassword" type="password" class="form-control" id="repeatPass" name="confirmNewPassword" aria-describedby="repeatPassHelp" ng-minlength="6" ng-maxlength="30" placeholder="Повторете паролата" required>
                            <small id="repeatPassHelp" class="form-text text-muted"></small>
                            <div ng-messages="changePassForm.confirmNewPassword.$error" ng-show="changePassForm.confirmNewPassword.$touched && changePassForm.confirmNewPassword.$invalid"  class="errorMsg">
                                <div ng-message="required">Моля повторете паролата!</div>
                                <div ng-message="minlength">Паролата трябва да бъне минимум 6 символа!</div>
                                <div ng-message="maxlength">Паролата в твърде дълга!</div>
                            </div>
                        </div>
                        <div class="successMsg" ng-if="msg">{{ msg }}</div>
                        <div class="errorMsg" ng-if="errorMsg">{{ errorMsg }}</div>
                        <button class="button btn"><span>Запиши</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    