<!--USER PROFILE-->
<!--Get PERSONAL INFORMATION-->
<div ng-controller="UserController" ng-if="$root.user" class="container-main">
    <!--Navbar side vertical menu-->
    <div class="row">
        <!--Included from profileMenu-->
        <div class="col-sm-3">
            <!-- <div ng-include src="'/js/app/controllers/user/profileMenu.html'"></div> -->
            <div class="sidebar-nav">
                    <div class="navbar-default-user" role="navigation">
                        <!-- <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> -->
                        <!-- <span class="visible-xs navbar-brand"></span> -->
                        <!-- </div>-->
                        <div ng-controller="CollapseController" class="profile-menu">
                            <ul class="nav flex-column side-nav-custom">
                                <li ng-class="{ active: isActive('/profile') }" class="nav-item"><a class="nav-link button-nav btn-nav" href="/profile"><span class="img-bkgr"><img class="img-icon" src="/images/icons/user.png"></span><span class="txt">Персонална информация</span></a></li>
                                <li ng-class="{ active: isActive('/profile/change-password') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/change-password"><span class="img-bkgr"><img class="img-icon" src="/images/icons/pass.png"></span><span class="txt">Промяна на парола</span></a></li>
                                <li ng-class="{ active: isActive('/profile/favourites') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/favourites"><span class="img-bkgr"><img class="img-icon" src="/images/icons/heart.png"></span><span class="txt">Моите филми</span></a></li>
                                <li ng-class="{ active: isActive('/profile/newsletter') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/newsletter"><span class="img-bkgr"><img class="img-icon" src="/images/icons/email.png"></span><span class="txt">Абонирай се за нашия е-бюлетин</span></a></li>
                                <li ng-class="{ active: isActive('/profile/orders') }" class="nav-item button-nav btn-nav"><a class="nav-link" href="/profile/orders"><span class="img-bkgr"><img class="img-icon" src="/images/icons/history.png"></span><span class="txt">История на резервациите и закупените билети</span></a></li>
                                <li ng-if="userChecked && $root.user" ng-class="{ active: isActive('/logout') }" class="nav-item">
                                    <a ng-click="logout($event)" class="nav-link button-nav btn-nav" href="/logout">
                                        <span class="img-bkgr"><img class="img-icon" src="/images/icons/logout.png"></span>
                                        <span class="txt">Изход</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse-->
                    </div>
                </div>
        </div>
        <!--LEFT SIDE OF USER NAVIGATION-->
        <div class="col-sm-9">
            <!--Get Personal information page-->
                <div class="container-wrap">
                    <form ng-submit="changeUserInfo($event)" class="form-user" action="" method="">
                        <h2>
                            Персонална информация
                        </h2>
                        <hr class="red-line redline-u">
                        <div class="form-group">
                            <label for="firstName">Име</label>
                            <input ng-model="user.firstName" type="text" class="form-control" id="firstName" aria-describedby="nameHelp" ng-placeholder="{{ user.firstName ? user.firstName : '' }}">
                            <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Фамилия</label>
                            <input ng-model="user.lastName" type="text" class="form-control" id="lastName" aria-describedby="lastHelp" ng-placeholder="{{ user.lastName ? user.lastName : '' }}">
                            <small id="lastHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="msg">{{ msg }}</div>
                        <!-- <div class="form-group">
                            <label for="exampleInputEmail1">Електронна поща</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-placeholder="{{ user.email }}" disabled>
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div> -->
                        <!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Запиши ме за бюлетин.</label>
                        </div> -->
                        <button class="button btn"><span>Запиши</span></button>
                    </form>
                </div>
            <!--End of Personal information page-->
        </div>
    <!--End of navbar side vertical menu-->
    </div>   

