<div ng-controller="LoginController" class="container-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-6 col-md-6 mx-auto">
                <div class="card">
                    <article class="card-body card-title">                            
                            <h3 class="auth-title">Влез чрез:</h3>
                        <div class="row">
                            <div class="col col-sm-12 col-md-12">
                                <a href="" class="button-social btn-social "><span><i class="fa fa-twitter"></i>Twitter</span></a>
                                <a href="" class="button-social  btn-social"><span><i class="fa fa-facebook-f"></i>Facebook</span></a>
                            </div>                            
                        </div>
                        <hr>
                        <form ng-submit="loginUser($event, form.$invalid)" name="loginForm" action="" method="POST">
                            <div class="errorMsgLogin" ng-if="errorMsg"><p class="errcontainer">{{ errorMsg }}</p></div>
                            <div ng-if="errors.length" class="errors">
                                <div ng-repeat="error in errors" class="error">{{error}}</div>
                            </div>
                            <div class="form-group">
                                <input ng-model="user.email" class="form-control" name="email"  placeholder="Вашият e-mail" type="email" required>                                
                                <div  class="errorMsg" ng-show="loginForm.email.$touched && loginForm.email.$invalid">Моля въведете вашият имейл адрес!</div>
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <input ng-model="user.password" class="form-control" name="password"  placeholder="Вашата парола" type="password" required>
                                <div  class="errorMsg" ng-show="loginForm.password.$touched && loginForm.password.$invalid">Моля въведете вашата парола!</div>
                            </div> <!-- form-group// -->                                      
                            <div class="row">
                                <div class="col col-sm-6 col-md-12">
                                    <div class="form-group">
                                        <button class="button btn"><span>Вход</span></button>
                                    </div> <!-- form-group// -->
                                </div>
                            </div>
                        </form>   
                            <div class="row">
                                <div class="col col-sm-2 col-md-5">
                                    <hr class="brown-line p-sm">
                                </div><span><small class="or">или</small></span>
                                <div class="col col-sm-2 col-md-5">
                                    <hr class="yellow-line p-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <a href="/register" class="button btn btn-small"><span>Нова регистрация</span></a>
                                    </div> <!-- form-group// -->
                                </div>                          
                                <a class="small" href="/forgottenPassword">Забравена парола?</a>  
                            </div>                
                            </div> <!-- .row// -->                                                                  
                        <!-- </form> -->
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>
    </div>
</div>
