<!-- VIDEO CAROUSEL -->
<!-- <div class="container-video-carousel">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div id="random_number1" class="carousel slide youtube-carousel"  data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="video-container item active">
              <div class="youtube-video" id='6cuDWLnbfqE'></div>
            </div>
            <div class="video-container item">
              <div class="youtube-video" id='iDeD7SDIf-Q'></div>
            </div>
            <div class="video-container item ">
              <div class="youtube-video" id='Kavbmiaar4c'></div>
            </div>
          </div>
          <div class="controls">
            <a class="left carousel-control" href="#random_number1" data-slide="prev">
              <div class="left-button">
                <div class="glyphicon glyphicon-chevron-left"></div>
              </div>
            </a>
            <a class="right carousel-control" href="#random_number1" data-slide="next">        
              <div class="right-button">
                <div class="glyphicon glyphicon-chevron-right"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      </div>
  </div> -->

<div class="container-main">
    <div ng-if="movies.length" class="row">
      <div ng-repeat="movie in movies" class="col-sm-3">
          <a href="#!/preview-movie/{{ movie.movieID }}">
              <img class="thumbnail-md" ng-src="url('{{ movie.image }}');">
              <h3 class="title-sm">{{ movie.name }}</h3>
          </a>
      </div>
    </div>
</div>


