<div class='content-addMovie'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2>Добави филм</h2>
            </div>
        </div>
        <div class='container-fluid addMovie'>
            <form id="contact-form" class="form" name='form' ng-submit="addMovie($event,form.$invalid)" action='' method="POST" novalidate>
                <div class="row">
                    <div class="col-sm-6 col-md-6 left">
                        <div class="form-group">
                            <label class="form-label" for="name">Име *</label>
                            <input type="text" class="form-control" ng-model="movie.name" id="name" name="name" placeholder="Въведете име на филм" tabindex="1"
                                required>
                            <div ng-messages="form.name.$error" ng-show="form.name.$invalid && form.name.$touched">
                                <ng-message when="required">Това поле е задължително</ng-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="duration">Времетраене *</label>
                            <input type="number" class="form-control" id='duration' ng-model="movie.duration" name="duration" placeholder="Времетраене в минути"
                                tabindex="2" required min='30' max='220'>
                            <div class='messages' ng-messages="form.duration.$error" ng-show="form.duration.$touched && form.duration.$invalid">
                                <div ng-message="required">Това поле е задължително</div>
                                <div ng-message="min">Времетраенето трябва да е минимум 30 минути</div>
                                <div ng-message="max">Времетраенете трябва да е не повече от 220 минути</div>
                            </div>
                        </div>
                        <div class='container' ng-controller="DatePickerController">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 left">
                                    <p class="form-group ">
                                        <label class='form-label'>Дата на премиера *</label>
                                        <div class='movieDate col-md-15'>
                                            <input type="text" name="date" class="form-control" readonly="readonly" uib-datepicker-popup="{{format}}" ng-model="movie.premierDate"
                                                is-open="popup.opened" datepicker-options="dateOptions" required close-text="Close"
                                                alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </p>
                                    <div ng-messages="form.date.$error" ng-show="form.date.$invalid && form.date.$touched">
                                        <ng-message when="required"> Това поле е задължително</ng-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline col-xs-12" style="padding-left:0">
                            <label class="form-label">Жанр *</label>
                            <div class="form-check col-xs-4" style="padding-left:0" ng-repeat="genre in genres">
                                <label class="form-check-label">
                                    <input type="checkbox" name='option' value="{{::genre}}" ng-model="genreList[$index]" class="form-check-input" ng-required="movie.genre.length === 0"
                                    /> {{::genre}}
                                </label>
                            </div>
                            <div ng-messages="form.option.$error" ng-show="form.option.$invalid && form.option.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                        </div>
                        <!--Material textarea-->
                        <div class="form-group" style="padding-top:70px">
                            <label class='form-label' for="description">Описание *</label>
                            <textarea type="text" id="description" ng-model="movie.description" name="description" class="md-textarea form-control" rows="3"
                                required></textarea>
                            <div ng-messages="form.description.$error" ng-show="form.description.$invalid && form.description.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-0 col-md-6 col-md-offset-0 right">
                        <div class="form-group director">
                            <label class="form-label" for="director">Директор *</label>
                            <input type="text" class="form-control" id="director" ng-model="movie.directorName" name="director" placeholder="Име на директор"
                                tabindex="1" required>
                            <div ng-messages="form.director.$error" ng-show="form.director.$invalid && form.director.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="actor1">Актьори *</label>
                            <input type="text" class="form-control" id="actor1" ng-model="movie.actors" name="actor" placeholder="Актьори" tabindex="1"
                                required>
                            <div ng-messages="form.actors.$error" ng-show="form.actors.$invalid && form.actors.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="file" id="file1" accept="image/*" single onchange="angular.element(this).scope().fileNameChanged(this)">
                            <!-- <input type="file" class='form-control' ng-file-select="onFileSelect($files)" ng-model="movie.image" name='image' required> -->
                            <button class="upload-file-button btn btn-primary" ng-click="uploadFile($files)">Качете постер *</button>
                            <span ng-if="movie.image">{{movie.image}}</span>
                            <div ng-messages="form.image.$error" ng-show="form.image.$invalid && form.image.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                            <!-- <input type="file" class="form-control" id="image" ng-model="movie.image" name="image" placeholder="Качете снимка" tabindex="1"> -->
                        </div>
                        <div class="form-group">
                            <input type="file" id="file2" accept="image/*" onchange="angular.element(this).scope().fileNameChanged1(this)">
                            <!-- <input type="file" class='form-control' ng-file-select="onFileSelect($files)" ng-model="movie.image" name='image' required> -->
                            <button class="upload-file-button btn btn-primary" single ng-click="uploadFile1($files)">Качете снимка *</button>
                            <span ng-if="movie.largeImage">{{movie.largeImage}}</span>
                            <div ng-messages="form.largeImage.$error" ng-show="form.largeImage.$invalid && form.largeImage.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                            <!-- <input type="file" class="form-control" id="image" ng-model="movie.image" name="image" placeholder="Качете снимка" tabindex="1"> -->
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="trailer">Линк към трейлър *</label>
                            <input type="text" class="form-control" id="trailer" name="trailer" ng-model="movie.trailer" placeholder="Трейлър" tabindex="1"
                                required>
                            <div ng-messages="form.trailer.$error" ng-show="form.trailer.$invalid && form.trailer.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="suitable">Подходящ </label>
                            <select class="form-control" name="select" ng-model="movie.suitable" id="exampleFormControlSelect1" required>
                                <option value="" selected='selected'>Избери</option>                            
                                <option ng-repeat="type in suitable" value="{{type.value}}">{{ type.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <!-- Radio group !-->
                            <label class="form-label"> Дублиран *</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="movie.dublaj" name="dublaj" value="1" ng-required="true"> Да
                                </label>
                                <label style="margin-left: 10px">
                                    <input type="radio" name="dublaj" ng-model="movie.dublaj" value="0" ng-required="true"> Не
                                </label>
                            </div>
                            <div ng-messages="form.dublaj.$error" ng-show="form.dublaj.$invalid && form.dublaj.$touched">
                                <ng-message when="required"> Това поле е задължително</ng-message>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-add" ng-click="submitted=true">Запази</button>
                    </div>
                    <div ng-show="submitted && form.$invalid" class="alert alert-danger">
                        <div ng-show="form.name.$error.required"> Име е задължително</div>
                        <div ng-show="form.duration.$error.required"> Времетраене е задължително</div>
                        <div ng-show="form.description.$error.required"> Описание е задължително</div>
                        <div ng-show="form.director.$error.required"> Директор е задължителен</div>
                        <div ng-show="form.actor.$error.required"> Актьор е задължителен</div>
                        <div ng-show="form.image.$error.required"> Постер е задължителен</div>
                        <div ng-show="form.dublaj.$error.required"> Дублиран е задължително</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted">
        Всички полета отбелязани със * са задължителни. Моля, попълнете данните коректно.
    </small>
</div>