<div class='content-movies'>
    <div class='add-movie'>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <a href='/admin/movies/add'>Добави филм</a>
    </div>
    <div class="container-movie">
        <div class="cards" ng-if="movies.length">
            <a ng-repeat="movie in movies" class="card" href='/admin/movies/edit/{{movie.movieID}}'>
                <span class="card-header" style="background-image: url('/images/movies/{{ movie.image }}')" style=" width:300px;">
                    <span class="card-title">
                        <h3>{{ movie.name }}</h3>
                    </span>
                </span>
                <div class="card-summary">
                    <span class="summary"><b>Директор:</b> {{ movie.directorName }}</span>
                    <span class="summary"><b>Актьор:</b> {{ movie.actors}}</span>
                    <span><b>Жанр:</b></span>
                    <span ng-repeat="ganre in movie.genre track by $index">{{ ganre}} </span>
                    <span class="summary"><b>Времетраене:</b> {{movie.duration}} минути</span>
                </div>
                
                <span class="card-meta">
                    Премиера {{ movie.premierDate | date : ('dd MMMM') }}
                </span>
            </a>
        </div>
    </div>
</div>