<div ng-controller="ProjectionController" class="container">
    <div class="movie-list">
        <div ng-if="projections.length" class="movie-list-item">
            <div ng-repeat="projection in projections" class="row">
                <div class="col-md-3">
                    <a href="">
                        <img class="movie-image" width="200px">
                    </a>
                </div>
                <div class="col-md-9">
                    <a href="">
                        <h3 class="movie-title"></h3>
                    </a>
                    <p class="movie-description">
                        
                    </p>
                    <div class="movielist-meta-container">
                        <div>
                            Режисьор: <span></span>
                        </div>
                        <div ng-repeat="actor in movie.actors">
                        Актьори: <span></span>
                        </div>
                        <div>
                        Продължителност: <span></span>
                        </div> 
                    </div>                      
                    <!--Buttons reserve and buy ticket-->
                    
                </div>
            </div>        
        </div>
    </div>
</div>