<!--Movie info--> 
<div class="container">    
        <div youtube-modal="youtube-link" ng-controller="YouTubeController">
            <div>
                <a href="{{ movieDetails.trailer }}" class="youtube-link" target="_blank" title="{{ movieDetails.name }}">
                    <div class="screen">
                        <img class="movie-poster-background" ng-src="/images/movies/{{ movieDetails.largeImage }}">
                        <div class="bottom-grad"></div>
                    </div>
                </a>
            </div>
        </div>    
    <div class="row">
        <div class="col col-sm col-md col-lg">
            <div class="gradient-dark">
                <section class="dark collapse in first last">
                    <div ng-if="movieDetails" class="container-info">
                        <h3 class="cinema-title">ПОВЕЧЕ ИНФОРМАЦИЯ ЗА {{ movieDetails.name }}</h3>
                        <!--Premier Date and Duration-->
                        <div class="row">
                            <div class="col col-sm-12 col-md-6">
                                <div class="flex-container">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <div>
                                        <h4 class="premiere-title">Премиерна дата:</h4>
                                        <p class="premiere-date">{{ movieDetails.premierDate }}</p>
                                    </div>  
                                </div>
                            </div>
                            <div class="col col-sm-12 col-md-6">
                                <div class="flex-container">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>    
                                    <div>
                                        <h4 class="duration">Времетраене:</h4>
                                        <p class="duration-minutes">{{ movieDetails.duration }} мин.</p>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                        <hr class="red-line">
                        <!--Movie Poster and Description-->
                        <div ng-controller="UserController"  class="row">
                            <div class="col col-sm-12 col-md-3">
                                <img class="movie-poster center-block" ng-src="/images/movies/{{ movieDetails.image }}">
                            </div>
                            <div class="col col-sm-12 col-md-6">
                                <p class="description">
                                    {{ movieDetails.description }}
                                </p>
                            </div>
                            <div ng-controller="CollapseController">
                                <div ng-if="userChecked && $root.user" class="col col-sm-1 col-md-2 favourites">
                                    <a href="#" title="Добави в любими" ng-if="!isInFavourites" ng-click="addToFavourites($event)"><span><i class="fa fa-heart-o" style="font-size:36px;"></i></span></a>
                                    <a href="#" title="Премахни от любими" ng-if="isInFavourites" ng-click="addToFavourites($event)"><span><i class="fa fa-heart-o" style="font-size:36px;outline: 10px;color: rgba(247,149,30,.38);text-shadow: 0 0 18px rgba(247,149,30,.8);"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <!--Table with info for Director, Actors etc.-->
                        <div class="row">
                            <div class="col col-sm-12 col-md-12">
                                    <table class="table table-sm table-movie">
                                        <tbody>
                                            <tr>
                                            <th ng-if="movie.genre.length" scope="row"></th>
                                                <td>ЖАНР:</td>
                                                <td ng-repeat="genre in movieDetails.genre track by $index">
                                                    {{ movieDetails.genre.join(', ') }}
                                                </td>
                                            </tr>
                                            <tr>
                                            <th scope="row"></th>
                                                <td ng-if="movie.actors.length">АКТЬОРИ</td>
                                                <td>
                                                    <span>{{ movieDetails.actors }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                            <th scope="row"></th>
                                            <td>РЕЖИСЬОР:</td>
                                            <td>{{ movieDetails.directorName }}</td>
                                            </tr>
                                            <tr>
                                            <th scope="row"></th>
                                            <td>КАТЕГОРИЯ:</td>
                                            <td>Не се препоръчва за деца под {{ movieDetails.suitable }}</td>
                                            </tr>
                                            <tr>
                                            <th scope="row"></th>
                                            <td>ИЗЛЪЧВА СЕ В:</td>
                                            <td>{{ movieDetails.movieType }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"></th>
                                                <td>ДУБЛИРАН:</td>
                                                <td ng-if="!movie.dublaj">НЕ</td>
                                                <td ng-if="movie.dublaj">ДА</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                        
                        <!--Buttons favourites and buy ticket-->
                        <!-- ng-controller="UserController"  -->
                        <div ng-controller="UserController" class="row">
                            <div ng-controller="CollapseController">
                                <div ng-if="userChecked && $root.user" class="col col-sm-12 col-md-12">
                                    <a href="#"  class="button btn buy-ticket favourites float-right"><span class="txt"><i class="fa fa-ticket" aria-hidden="true"></i>Купи билет</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="date-picker__wrap days">
        <section class="date-picker carousel js-movie-calendar carousel-style-strip">
            <ul class="carousel-items week">
                <li class="week-day date-picker__date" ng-class="{ active: activeDay === day }" ng-repeat="day in week">
                    <a href class="date-picker__link" ng-click="setActive(day)">
                        <span class="date-picker__date-weekday" >{{ day.format('dddd') }}</span>
                        <span class="date-picker__date-month">{{ day.format('MMMM') }}</span>
                        <span class="date-picker__date-day">{{ day.format('DD') }}</span>
                    </a>
                </li>       
            </ul>
        </section>
    </div>
    <div ng-if="projections.length">
        <div ng-if="cinemas" ng-repeat="cinema in cinemas track by $index">
            <section ng-if="movieDetails">
                <div class="row projection-movie borders-top">
                    <div class="col col-sm col-md-3">
                        <div class="cinema-info">
                            <p class="title">{{ cinema.name }}</p>
                            <p class="address">{{ cinema.address }}</p>
                            <p class="address">{{ cinema.phoneNumber }}</p>
                        </div>            
                    </div>                    
                    <div class="col col-sm col-md-9">
                        <p class="book-message"><i class="fa fa-ticket" aria-hidden="true">
                            </i> Изберете час, за да запазите билет.
                        </p>
                        <div>
                            <ul>
                                <li class="projection-times" ng-repeat="projection in projections | filter : { movieID } track by $index" >
                                    <div >
                                        <a href="/projections/book/{{projection.kinoID}}/{{projection.zalaID}}/{{projection.movieID}}/{{projection.time}}" 
                                        ng-if="(activeDay.toDate() | date:'dd-MM') == (projection.time * 1000 | date: 'dd-MM')">                                        
                                            <div class="items">
                                                <label class="button-item btn-item"><input type="checkbox"><span class="item-name">{{projection.time * 1000 | date: 'HH:mm'}}</span></label>
                                            </div>
                                        </a>                                        
                                    </div>
                                </li>
                            </ul>
                        </div>

    <div ng-if="cinemas" ng-repeat="cinema in cinemas track by $index">
        <section ng-if="movieDetails">
            <div class="row projection-movie borders-top">
                <div class="col col-sm col-md-3">
                    <div class="cinema-info">
                        <p class="title">{{ cinema.name }}</p>
                        <p class="address">{{ cinema.address }}</p>
                        <p class="address">{{ cinema.phoneNumber }}</p>
                    </div>            
                </div>                    
                <div class="col col-sm col-md-9">
                    <p class="book-message"><i class="fa fa-ticket" aria-hidden="true">
                        </i> Изберете час, за да запазите билет.
                    </p>
                    <div>
                        <ul>

                            <li class="projection-times" ng-repeat="time in projections track by $index| filter : {$:movieID}:projection.movieID}" >
                                <div >
                                    <a href="/projections/book/{{projection.kinoID}}/{{projection.zalaID}}/{{projection.movieID}}/{{projection.time}}" 
                                    class="projection-hour" ng-if="(activeDay.toDate() | date:'dd-MM') == (projection.time * 1000 | date: 'dd-MM')">                                        
                                        <div class="items">
                                            <label class="button-item btn-item"><input type="checkbox"><span class="item-name">{{projection.time * 1000 | date: 'HH:mm'}}</span></label>
                                        </div>
                                    </a>                                        
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>    
            </section>
        </div>
    </div>    
    <div ng-if="!projections.length" class="row  projection-movie borders-top">
        <div class="col col-sm-12 col-md-12">Няма прожекции за тази дата!</div>
    </div>
</div>