<!--Preview movie info-->
<!--Container for trailer-->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="video-container item active">
                
            </div>
        </div>
    </div>
</div> -->

<!--Movie info--> 
<div ng-controller="MovieController" class="container-fluid">
    <section class="dark collapse in first last">
        <div ng-if="movie.movieID" class="container container-info">
            <h3 class="cinema-title">ПОВЕЧЕ ИНФОРМАЦИЯ ЗА {{ movie.name }}</h3>
            <!--Premier Date and Duration-->
            <div class="row">
                <div class="col-md-6">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <h4 class="premiere-title">Премиерна дата:</h4>
                    <p class="premiere-date">{{ movie.premiereDate }}</p>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h4 class="duration">Времетраене:</h4>
                    <p class="duration-minutes">{{ movie.duration }} мин.</p>
                </div>
            </div>
            <hr class="purple-u">
            <!--Movie Poster and Description-->
            <div class="row">
                <div class=" col-md-6">
                    <img class="movie-poster" style="background-image: url('{{ movie.image }}')">
                </div>
                <div class=" col-md-6">
                    <p class="description">
                        {{ movie.description}}
                    </p>
                </div>
            </div>
            <!--Table with info for Director, Actors etc.-->
            <div class="row">
                <div class="col-md-12">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col">ОРИГИНАЛНО ЗАГЛАВИЕ:</th>
                                <th scope="col">{{ movie.name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row"></th>
                                <td>ЖАНР:</td>
                                <td ng-repeat="genre in genres">{{ movie.genre }}</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>АКТЬОРИ</td>
                                <td ng-repeat="actor in actors">{{ movie.actor }}</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>РЕЖИСЬОР:</td>
                                <td>{{ movie.director }}</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>КАТЕГОРИЯ:</td>
                                <td>Не се препоръчва за деца под 12</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                <td>ИЗЛЪЧВА СЕ В:</td>
                                <td>2D</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            
            <!--Buttons favourites and buy ticket-->
            <div class="row">
                <div class="col-md-6">
                <a href="#" class="button fixedPosition favourites"><span class="txt"><i class="fa fa-heart" aria-hidden="true"></i>Добави в любими</span></a>
                </div>
                <div class="col-md-6">
                <a href="#" class="button fixedPosition favourites"><span class="txt"><i class="fa fa-ticket" aria-hidden="true"></i>Купи билет</span></a>
                </div>
            </div>
        </div>
    </section>
</div>
