<!--Movie info-->
<div class="container">
    <!-- <div youtube-modal="youtube-link" ng-controller="YouTubeController"> -->
        <div class="row video-wrapper">
            <div class="col col-sm-12 col-md-12">
                <div class="">
                    <div class="screen">
                        
                        <!-- <img class="movie-poster-background" ng-src="/images/movies/{{movie.movie[0].largeImage }}"> -->
                        <ng-youtube-embed video="videoURL" width="100%"></ng-youtube-embed>
                        <div class="bottom-grad"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col col-sm col-md col-lg">
            <div class="gradient-dark">
                <section class="dark collapse in first last">
                    <div class="container-info">
                        <h3 class="cinema-title">Повече информация за {{ movie.movie[0].name }}</h3>
                        <!--Premier Date and Duration-->
                        <div class="row">
                            <div class="col col-sm-12 col-md-6">
                                <div class="flex-container">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <div>
                                        <h4 class="premiere-title">Премиерна дата:</h4>
                                        <p class="premiere-date">{{ movie.movie[0].premierDate | date : 'dd-MM-yyyy' }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-md-6">
                                <div class="flex-container">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <div>
                                        <h4 class="duration">Времетраене:</h4>
                                        <p class="duration-minutes">{{ movie.movie[0].duration }} мин.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="red-line">
                        <!--Movie Poster and Description-->
                        <div ng-controller="UserController" class="row">
                            <div class="col col-sm-12 col-md-3">
                                <img class="movie-poster center-block" ng-src="/images/movies/{{ movie.movie[0].image }}">
                            </div>
                            <div class="col col-sm-12 col-md-6">
                                <h3 class='description-header'>Описание:</h3>
                                <p class="description">
                                    {{ movie.movie[0].description }}
                                </p>
                                <div class="card-description-movie">
                                    <div>
                                        <strong>Жанр:&nbsp;</strong>
                                        <span>{{movie.movie[0].genre.join(', ')}}</span>
                                    </div>
                                    <div>
                                        <srtong class='actors-header'>Актьори: </srtong>
                                        <span>{{ movie.movie[0].actors }}</span>
                                    </div>
                                    <div>
                                        <strong>Режисьор:&nbsp</strong>
                                        <span>{{ movie.movie[0].directorName}}</span>
                                    </div>
                                    <!-- <div> -->
                                        <!-- <p>{{suitable[1].name}}</p> -->
                                        <!-- <strong>Категория:&nbsp</strong>Не се препоръчва за деца под {{suitable[movie.movie[0].suitable].name}}</div> -->
                                </div>
                            </div>
                            <div>
                                <div class="col col-sm-1 col-md-2 favourites">
                                    <a href="#" title="Добави в любими" ng-if="!isInFavourites" ng-click="addToFavourites($event)">
                                        <span>
                                            <i class="fa fa-heart-o" style="font-size:36px;"></i>
                                        </span>
                                    </a>
                                    <a href="#" title="Премахни от любими" ng-if="isInFavourites" ng-click="addToFavourites($event)">
                                        <span>
                                            <i class="fa fa-heart-o" style="font-size:36px;outline: 10px;color: rgba(247,149,30,.38);text-shadow: 0 0 18px rgba(247,149,30,.8);"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="activeDay" ng-repeat="cinema in cinemas track by $index">
            <section ng-if="movie">
                <div class="row projection-movie borders-top">
                    <div class="col col-sm col-md-3">
                        <div class="cinema-info">
                            <p class="title">{{ cinema.name }}</p>
                            <p class="address">{{ cinema.address }}</p>
                            <p class="address">{{ cinema.phoneNumber }}</p>
                        </div>
                    </div>
                    <div class="col col-sm col-md-9">
                        <p class="book-message">
                            <i class="fa fa-ticket" aria-hidden="true">
                            </i> Изберете час, за да запазите билет.
                        </p>
                        <div>
                            <ul>
                                <li class="projection-times" ng-repeat="projection in movie.projections | filter : 'kinoID'">
                                    <div>
                                        <a href="/book/{{projection._id}}/" ng-if="(activeDay.toDate() | date:'dd-MM') == (projection.time * 1000 | date: 'dd-MM')">
                                            <div class="items">
                                                <label class="button-item btn-item">
                                                    <input type="checkbox">
                                                    <span class="item-name">{{projection.time * 1000 | date: 'HH:mm'}}</span>
                                                </label>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-if="!activeDay" ng-repeat="cinema in movie.cinemas track by $index">
            <section ng-if="movie">
                <div class="row projection-movie borders-top">
                    <div class="col col-sm col-md-3">
                        <div class="cinema-info">
                            <p class="title">{{ cinema.name }}</p>
                            <p class="address">{{ cinema.address }}</p>
                            <p class="address">{{ cinema.phoneNumber }}</p>
                        </div>
                    </div>
                    <div class="col col-sm col-md-9">
                        <p class="book-message">
                            <i class="fa fa-ticket" aria-hidden="true">
                            </i> Изберете час, за да запазите билет.
                        </p>
                        <div class="projection-date-time">
                            <ul>
                                <li class="projection-times" ng-repeat="item in filterDates">
                                    <ul>
                                        <p>{{checkItem(item, cinema)}}</p>
                                        <p class="dateProjection">Прожекции за {{item}}</p>
                                        <li class="projection-times" ng-repeat="projection in movie.projections | filter : { 'kinoID' : cinema.kinoID}:true track by $index">
                                            <div ng-if="projection.time.format('DD MMMM') === item ">
                                                <a class="projection-time-link" href="/book/{{projection._id}}">
                                                    <div class="items">
                                                        <label class="button-item btn-item" title="">
                                                            <input type="checkbox">
                                                            <span class="item-name">{{projection.time.format('HH:mm')}}
                                                                <div class="details-tag">{{ projection.movieType }}</div>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--        
    <div ng-if="!projections.length" class="row  projection-movie borders-top">
        <div class="col col-sm-12 col-md-12">Няма прожекции за тази дата!</div>
    </div> -->
</div>