<div class="content">
    <!-- <div class='add-movie'>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <a href='/admin/projections/add'>Добави прожекция</a> 
    </div> -->
    <!--  -->
    <div class="row users-view">
        <div class="col-12 col-sm-8 col-xs-12">
            <h3>Регистрирани потребители</h3> 
        </div>    
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>            
                <tr class='head-table'>
                    <th st-sort="time">Информация </th>                
                    <th st-sort="type">Дата на регистрация</th>
                    <th colspan='3'></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users track by $index " current-page="currentPage">
                    <td>
                        <h5 class="bolder">E-mail: <span>{{user.email}}</span></h5>
                        <span ng-if="user.firstName && user.lastName" class="bolder">Име: <span>{{ user.firstName }} {{ user.lastName }}</span></span>
                    </td>
                    <td>{{ user.registerDate | date: 'dd MMMM yyyy | HH:mm'}}ч.</td>
                    <td class="buttonView">
                        <a  class="btn btn-sm btn-danger" mwl-confirm  title ="{{vm.titleBox}}" message="{{vm.message}}"
                            on-confirm ="vm.onConfirm(user._id)" confirm-text = '{{vm.confirmText}}' cancel-text = "{{vm.cancelText}}"> 
                            <i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>